<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<form th:action="@{/registration}" th:object="${user}" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}" required><br>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" th:field="*{surname}" required><br>

    <label for="email">Мэйл:</label>
    <input type="email" id="email" th:field="*{email}" required><br>

    <label for="username">Логин:</label>
    <input type="text" id="username" th:field="*{username}" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" th:field="*{password}" required><br>

    <div>
        <label>Roles:</label>
        <ul>
            <li th:each="role : ${allRoles}">
                <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
                <span th:text="${role.name}"></span>
            </li>
        </ul>
    </div>

    <input type="submit" value="Отправить">
</form>

<form th:action="@{/}" method="get">
    <input type="submit" value="Стартовая страница">
</form>
</body>
</html>